[submodule "foundry/lib/openzeppelin-contracts"]
	path = foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry/lib/permit2"]
	path = foundry/lib/permit2
	url = https://github.com/Uniswap/permit2
[submodule "foundry/lib/v2-core"]
	path = foundry/lib/v2-core
	url = https://github.com/uniswap/v2-core
